# Android
android/build/
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
android/keystore.properties
android/app/*.keystore
android/app/google-services.json
*.apk
*.aab
*.jks

# Firebase
.firebaserc
firebase.json

# Node modules (si tu en as)
node_modules/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
